# - name: Get kong romcore wildcard ELB dns
#   ec2_elb_facts:
#     region: "{{ aws_region }}"
#   register: elb_facts
# - set_fact:
#     elb_dns_name: "{{ item.dns_name }}"
#     elb_hosted_zone: "{{ item.hosted_zone_id }}"
#   with_items: "{{ elb_facts.elbs }}"
#   when: item.tags.KubernetesCluster == "{{ cluster_context }}" and item.tags['kubernetes.io/service-name'] is defined and item.tags['kubernetes.io/service-name'] == 'kong/kong-romcore-wildcard'

# - name: Create alias routes to dashboard
#   route53:
#     command: create
#     overwrite: true
#     zone: "{{ route53_zone }}"
#     record: "{{ kaiju_host_name_prefix }}.romcore.cloud"
#     alias_hosted_zone_id: "{{ elb_hosted_zone }}"
#     value: "{{ elb_dns_name }}"
#     alias: true
#     type: A
#     ttl: 300
#   tags:
#     - create_domain

- name: Get mqtt romcore wildcard ELB dns
  ec2_elb_facts:
    region: "{{ aws_region }}"
  register: elb_facts
- set_fact:
    elb_mqtt_dns_name: "{{ item.dns_name }}"
    elb_mqtt_hosted_zone: "{{ item.hosted_zone_id }}"
  with_items: "{{ elb_facts.elbs }}"
  when: item.tags.KubernetesCluster == "{{ cluster_context }}" and item.tags['kubernetes.io/service-name'] is defined and item.tags['kubernetes.io/service-name'].find('{{ cluster_namespace }}/mqtts') != -1

- name: Create alias routes to mqtt
  route53:
    command: create
    overwrite: true
    zone: "{{ route53_zone }}"
    record: "{{ mqtt_host_name_prefix }}.romcore.cloud"
    alias_hosted_zone_id: "{{ elb_mqtt_hosted_zone }}"
    value: "{{ elb_mqtt_dns_name }}"
    alias: true
    type: A
    ttl: 300
  tags:
    - create_domain
